/* Variables */

$dark-color: #030307;
$gold-color: #b1946a;
$purple-color: #752f48;
$white-color: #fdfdfd;

@mixin titles {
  font-family: "DM Serif Text", serif;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $gold-color;
}

@mixin subtitles {
  font-size: 16px;
  font-family: "DM Serif Text", serif;
  color: $dark-color;
}

/*Navbar */
.navbar-brand {
  font-family: "DM Serif Text", serif;
  text-transform: uppercase;
  font-size: 40px;
  color: $dark-color;
  &:hover {
    text-decoration: none;
    color: $dark-color;
  }
}

.nav-link {
  font-family: "DM Serif Text", serif;
  text-decoration: none;
  font-size: 16px;
  color: $dark-color;
  &:hover {
    color: $dark-color;
    text-decoration: underline;
  }
}

/* Home */
.blockquote {
  color: $dark-color;
  margin-top: 50px;
  font-size: 40px;
  font-family: "DM Serif Text", serif;
}

.cite {
  font-family: "DM Serif Text", serif;
  color: $gold-color;
}

.lead__wrapper {
  text-align: center;
  .lead__custom {
    margin-top: 50px;
    font-size: 40px;
    font-family: "DM Serif Text", serif;
    color: black;
    .lead__custom-color {
      font-size: 50px;
      font-weight: bold;
      color: $gold-color;
    }
  }
}

.cards__img {
  height: 300px;
}

.title__resumen {
  font-family: "DM Serif Text", serif;
  color: $dark-color;
}

.resumen__subtitle {
  font-family: "DM Serif Text", serif;
  color: $gold-color;
  font-weight: bold;
}

.resumen__text {
  font-family: "DM Serif Text", serif;
  color: $dark-color;
}

/* Arcanos */

.arcanos__mayores-title,
.arcanos__menores-title {
  @include titles;
}

.arcanos__mayores-subtitle,
.arcanos__menores-subtitle {
  @include subtitles;
}

.card__text-custom {
  color: $dark-color;
  font-family: "DM Serif Text", serif;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  border-color: transparent;
  border-radius: 25px;
  .card__title {
    font-family: "DM Serif Text", serif;
    font-size: 30px;
    color: $dark-color;
  }
  .card__text {
    font-size: 16px;
    font-family: "DM Serif Text", serif;
    color: $dark-color;
    width: 300px;
    text-align: center;
  }
}

/* Lecturas */

.tirada__title {
  @include titles;
}

.num__title,
.sentido__title,
.tirada__pasos-title {
  font-family: "DM Serif Text", serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $gold-color;
}

.tirada__subtitle,
.num__subtitle,
.sentido__subtitle {
  @include subtitles;
}

.num__list {
  text-align: center;
  list-style-position: inside;
  font-family: "DM Serif Text", serif;
  font-size: 16px;
  color: $dark-color;
}

.tirada__list {
  font-size: 16px;
  font-family: "DM Serif Text", serif;
  color: $dark-color;
  text-decoration: none;
  list-style: none;
}

.tiradas {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.tiradasuno,
.tiradasdos {
  font-size: 30px;
  font-family: "DM Serif Text", serif;
  letter-spacing: 5px;
  color: $gold-color;
}

.tiradasuno__subtitle,
.tiradasdos__subtitle {
  font-size: 16px;
  font-family: "DM Serif Text", serif;
  color: $dark-color;
}

.img__divider {
  height: 200px;
}

.tiradasuno__text,
.tiradasdos__text {
  font-size: 16px;
  font-family: "DM Serif Text", serif;
  color: $dark-color;
}

/* Oráculo */

.oraculo__title {
  @include titles;
}

.oraculo__subtitle {
  @include subtitles;
}

.button {
  display: grid;
}

.button__custom {
  background-color: $gold-color;
  border-color: $gold-color;
  color: $dark-color;
  transition: background-color 0.5s ease-in-out;
  transition: border-color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  &:hover {
    background-color: $purple-color;
    border-color: $purple-color;
    color: $white-color;
  }
}

.modal__title-custom {
  font-size: 20px;
  font-family: "DM Serif Text", serif;
  font-weight: bold;
  color: $dark-color;
}

.modal__body-custom {
  font-size: 16px;
  font-family: "DM Serif Text", serif;
  text-align: center;
  color: $dark-color;
}

.modal__body__title {
  font-weight: bold;
}

.modal__btn-custom {
  background-color: $dark-color;
  &:hover {
    background-color: $gold-color;
    border-color: $gold-color;
    color: $dark-color;
  }
}

.ty__btn-custom {
  background-color: $purple-color;
  &:hover {
    background-color: $gold-color;
    border-color: $gold-color;
    color: $dark-color;
  }
}

.card-body {
  font-size: 16px;
  font-family: "DM Serif Text", serif;
  border-radius: 10px;
  color: $dark-color;
}

.fuentes__link {
  font-family: "DM Serif Text", serif;
  color: $dark-color;
  &:hover {
    font-weight: bold;
    text-decoration: none;
    color: $gold-color;
  }
}

/* Contacto */

.header__title {
  @include titles;
}

.header__subtitle {
  @include subtitles;
}

.contact__btn-custom {
  background-color: $purple-color;
  border-color: $purple-color;
  color: $white-color;
  font-family: "DM Serif Text", serif;
  &:hover {
    background-color: $gold-color;
    border-color: $gold-color;
    color: $white-color;
  }
}

.contact__input,
.contact__text {
  font-size: 16px;
  font-family: "DM Serif Text", serif;
  color: $dark-color;
  border: 1px solid $purple-color;
  &:hover {
    border: 2px solid $gold-color;
  }
}

/*Footer */

.footer {
  font-family: "DM Serif Text", serif;
  font-size: 16px;
  background-color: $white-color;
  color: $dark-color;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100px;
}
.footer__title {
  color: $dark-color;
}
.footer__icon-logo {
  height: 30px;
}

@media (min-width: 300px) and (max-width: 786px) {
  .nav {
    display: inline-flex;
    flex-flow: nowrap;
  }

  .navbar-brand {
    margin: auto;
  }

  .button__custom {
    margin-bottom: 30px;
  }
}
